{%- liquid
  assign waze_address = 'עמק דותן 66 מודיעין'
-%}
<a
  class="floating-waze focus-inset"
  href="https://waze.com/ul?q={{ waze_address | url_encode }}&navigate=yes"
  target="_blank"
  rel="noopener noreferrer"
  aria-label="{{ 'general.waze.open_navigation' | t }}"
>
  <span class="floating-waze__icon">
    <img
      src="{{ 'waze-logo.png' | asset_url }}"
      alt=""
      width="56"
      height="56"
      loading="lazy"
    >
  </span>
</a>
